.content-button button{
    background-color: #1B3168CC;
    border-radius: 7.36px 7.36px 0px 0px;
    color: #FFFFFF;
    padding: 10px 30px;
    width: 13%;
}

.content-button button:active{
    background-color: #1B3168;
}

.btn-add{
    
}