{% extends 'base.html.twig' %}

{% block title %}Modification d'un utilisateur{% endblock %}

{% block body %}
<h1 class="title title-h1-size-clamp">
    Ajouter un contributeur
</h1>
{% include "admin/user/form_user.html.twig" %}
{% endblock %}