{% extends 'base.html.twig' %}

{% block title %}Modification d'un utilisateur{% endblock %}

{% block body %}
<div>
    <h1>Modification de l'utilisateur {{ user.firstName }} {{ user.lastName }}</h1>
    <a href="{{ path('admin_panel_user') }}">Retour à la liste des utilisateurs</a>
</div>
{% include "admin/user/form_user.html.twig" %}
{% endblock %}