{% extends 'base.html.twig' %}

{% block title %}Ajout d'une origine{% endblock %}

{% block body %}
<h1 class="title title-h1-size-clamp">
    Ajouter une origine
</h1>
{% include "admin/origin/form.html.twig" %}
{% endblock %}