{% extends 'base.html.twig' %}

{% block title %}Modification d'une origine{% endblock %}

{% block body %}
<div>
    <h1>Modification de l'origine {{ origin.name }}</h1>
</div>
{% include "admin/origin/form.html.twig" %}
{% endblock %}