body {
    background-color: rgba(239, 242, 244, 1);
    margin: 0;
    overflow: auto;
}

.title-h1-size-clamp{
    font-size: clamp(16px, 4vw, 28px);
}

.title-h2-size-clamp{
    font-size: clamp(16px, 3vw, 20px);
}

.table-size-clamp{
    font-size: clamp(10px, 1.25vw, 14px);
}

.img-nav-clamp{
    width: clamp(10px, 2vw, 25px);
    height: clamp(10px, 2vw, 25px);
}

.img-logo-clamp{
    max-width: clamp(10px, 3vw, 32px);
    height: clamp(10px, 3vw, 34px);
}

.color-title{
    color: #1B3168;
}

.d-flex{
    display: flex;
}

.mg-calc{
    margin-left: calc(20% + 30px);
}

.side-nav{
    width: 20%;
    height: 100%;
    position: fixed;
    padding: 30px 22px 30px 22px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.08);
}

.brand-nav-list{
    display: grid;
    gap: 40px;
}

.nav-brand{
    display: flex;
    gap: 15px;
}

.content-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-logo{
    color: rgba(93, 114, 133, 1);
    display: grid;
    gap: 9px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
}

.text-logo span{
    color: rgba(27, 49, 104, 1);
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
}


.nav-list{
    display: grid;
    gap: 15px;
}

.nav-item{
    display: flex;
    padding: 0 7px 0 7px;
    list-style-type: none;
    border-radius: 4px;
    transition: 50ms ease-in-out;
}

.nav-item:hover{
    background-color: #F6F6F6;
}

.nav-item a:hover p{
    color: #1B3168;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.01em;
    transition: 50ms ease-in-out;
}

.nav-item a{
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-item:active{
    color: rgba(246, 246, 246, 1);
}

.nav-item-text{
    font-family: 'Poppins';
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;    
    padding: 8px;
    margin: 0;
    color: #757575;
    transition: 50ms ease-in-out;
}

.nav-size-clamp{
    font-size: clamp(12px, 1.25vw, 14px);
}

.nav-item-active{
    display: flex;
    padding: 0 7px 0 7px;
    list-style-type: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #F6F6F6;
}

.nav-item-active a{
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-item-text-active{
    font-family: 'Poppins';
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;    
    padding: 8px;
    margin: 0;
    color: #1B3168;
    font-weight: 700;
}

input,  select{
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #F6F6F6
}

header{
    display: flex;
    justify-content: end;
    background-color: rgba(255, 255, 255, 1);
    padding: 36px 47px 36px 47px;
    gap: 8px;
}

.container-connexion{
    display: flex;
}

.container-connexion a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.container-connexion img{
    width: 21px;
    height: 20px;
}

.container-connexion p{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(0, 0, 0, 1);    
}

.title{
    font-family: Epilogue;
    font-weight: 600;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(27, 49, 104, 1);
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.content-site{
    background-color: white;
    border-radius: 7px;
    padding: 30px 50px 100px 30px;
}

input

footer{
    height: 50px;
    display: flex;
    align-items: center;
}

footer ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

footer ul li{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
    color: #000000;
}

footer ul p{
    margin: 0;
}

.btn{
    padding: 16px 40px 16px 40px;
    border-radius: 8px;
    background-color: rgba(246, 246, 246, 1);
    border: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;    
    color: #757575;
}

.btn_add{
    padding: 16px 40px 16px 40px;
    border-radius: 8px;
    background-color: rgba(82, 183, 136, 1);
    border: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;    
    color: #fff;
}

.edit{
    
}

@media only screen and (max-width: 1392px) {
    .text-logo{
        font-size: 12px;
    }
}