{% extends 'base.html.twig' %}

{% block title %}Ajout d'une matière{% endblock %}

{% block body %}
<h1 class="title title-h1-size-clamp">
    Ajouter une matière
</h1>
{% include "admin/course/form_course.html.twig" %}
{% endblock %}