body {
    background-color: rgba(239, 242, 244, 1);
    margin: 0;
    overflow: hidden;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}