{% extends 'base.html.twig' %}

{% block title %}Ajout d'une classe{% endblock %}

{% block body %}
<h1 class="title title-h1-size-clamp">
    Ajouter une classe 
</h1>
{% include "admin/classroom/form_classroom.html.twig" %}
{% endblock %}