{% extends 'base.html.twig' %}

{% block title %}Éditer Classe{% endblock %}

{% block body %}
<div>
    <h1>Modification de la classe {{ classroom.name }}</h1>
    <a href="{{ path('admin_panel_classroom') }}">Retour à la liste des utilisateurs</a>
</div>
{% include "admin/classroom/form_classroom.html.twig" %}
{% endblock %}