body {
    font-family: 'Noto Sans', sans-serif;
}

.welcome-message {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    color: #212529;
}

.benefits-list {
    list-style: none;
    padding: 0;
}

.benefits-list li {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.benefits-list li::before {
    content: '• ';
    color: #5cb85c; /* Utilisez la couleur appropriée de votre palette graphique */
    font-weight: bold; /* Ajoutez si vous voulez un symbole de puce en gras */
}

.benefits-list li a {
    text-decoration: underline;
    color: #0056b3; /* Couleur des liens */
}

.benefits-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
}