.info-search{
    display: grid;
    gap: 8px;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;    
}

.content-rechercher{
    gap: clamp(2px, 4vw, 28px);
}

.container-exercises{
    border-spacing: 0;
    border-radius: 8px;
    border: 1px solid #E7E7E7;
    font-family: 'Poppins';
    font-weight: 400;
}

.thead-exercises{
    background-color: #F0F0F0;
    color: #464646;
}

.thead-exercises tr th{
    padding: 12px 24px 12px 24px;
    text-align: left;
    font-weight: 400;
    font-family: 'Poppins';
}

.info-exercise{
    padding: 12px 24px 12px 24px;
    font-weight: 500;
    color: #74828F;
    font-family: 'Poppins';
}

.keyword{
    background-color: #DBDBDB;
    border-radius: 20px;
    padding: 5px 15px;
}