body{
}

h1 {
    color: #333;
    font-size: 22px;
    line-height: 32px;
}

.p1{
    margin-left: 2%;
    margin-bottom: 3%;
}

label{
    display: block;
}

.container_left{
    width: 50%;
    
}

.container_right{
    width: 50%;
}

.all_container{
    display: flex;
}

.form-control{
    border-radius: 8px;
    width: 500px;
    height: 55px;
    border: 2px solid #f6f6f6;
}

#soumettre_skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    width: 80%;
}

.form-row, .mb-6{
    margin-bottom: 5%;
}