{% extends 'base.html.twig' %}

{% block title %}Hello SoumettreController!{% endblock %}

{% block body %}

<div class="p1">
    <h1 class="info">Informations générales</h1>
</div>
{{ form_start(form)}}
{{ form_row(form.name) }}
{% endblock %}
