{% extends 'base.html.twig' %}

{% block title %}Hello RechercheController!{% endblock %}

{% block body %}
    <div class="content-rechercher d-flex">
        <div class="rechercher-niveau">
            <span>
                Niveau :
            </span>
        </div>
        <div class="rechercher-thematique">
            <span>
                Thématique :
            </span>
        </div>
        <div class="rechercher-mot-cle">
            <span>
                Mots Clés :
            </span>
        </div>
        <div class="rechercher-exercice">
            <button class="button-rechercher">
                Rechercher
            </button>
        </div>
    </div>
{% endblock %}
