{% extends 'base.html.twig' %}

{% block title %}Ajout d'un exercice{% endblock %}

{% block body %}
<h1 class="title title-h1-size-clamp">
    Ajouter un exercice
</h1>
{% include "admin/exercice/form_exercise.html.twig" %}
{% endblock %}